
# Outputs
pll*.v
output.*
top_out.*
top_synthesized.v
*.blif
*.edif
*.asc
*.bin
*.bit

# Generated
hx8k-breakout.pcf

# Netlist outputs
*.dot
*.ps
*.eps
*.svg
*.pdf

# Temporary
*~
.*.swp
.*.~lock

# Eclipse
.project
.cproject
.pydevproject
.settings
.metadata

# LibreOffice
.~lock.*

