
# LED strip data output
set_io strip 112

# Pins for compatibility with HX8k breakout board
set_io led[5] 121
set_io led[6] 122
set_io led[7] 134

# Debug signals
set_io debug_rts 119 --warn-no-port
set_io debug_cts 118 --warn-no-port
set_io debug_rx  117 --warn-no-port
set_io debug_dtr 116 --warn-no-port
